body{
    margin: 0px;
    padding: 0px;
    background-color:burlywood;
}
.main-div{
    text-align: center;
    justify-content: space-around;
    display: flex;
    margin: 30px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-size: auto;
    
}
  .div1:hover{
    transform: translateY(-20px);
}
.div1 {
    border: white;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    width: 320px;
    height: 620px;
    overflow: hidden;
}
.div2:hover{
    transform: translateY(-20px);
}
.div2{
    border: white;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    width: 320px;
    height: 620px;
    overflow: hidden;
}
.div3:hover{
    transform: translateY(-20px);
}
   
.div3{
    border: white;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    width: 320px;
    height: 620px;
    overflow: hidden;
    
}
.div1 img{
    width: 100%;
    height:  210px;
    border-top: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}
.div2 img{
    width: 100%;
    height: 210px;
    border-top: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.div3 img{
    width: 100%;
    height: 210px;
    border-top: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.ft1{
    display: flex;
    border:orange;
    justify-content: center;
    background-color: orange;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
     color: white;
    
}
.div-ft1-1{
    margin: 10px;
}
.div-ft1-2{
    margin: 10px;
}
.div-ft1-3{
    margin:10px;
}
.ft2{
    display: flex;
    padding: 0px;
    margin: 0px;
    border: pink solid ;
    justify-content: center;
    background-color: rgb(245, 153, 169);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
}
.div-ft2-1{
    margin: 10px;
    margin-left: 2px;
    
}
.div-ft2-2{
    margin: 10px;
}
.div-ft2-3{
    margin: 10px;
}
.ft3{
    display: flex;
    justify-content: center;
    background-color: rgb(52, 179, 52);
    padding: 0px;
    margin: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
}
.div-ft3-1{
    margin: 10px;
}
.div-ft3-2{
    margin: 10px;
}
.div-ft3-3{
    margin: 10px;
}
