.heading1 {
  font-size: 30px;
}
.first {
  text-decoration: underline green;
}
#logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.links {
  display: flex;
  list-style-type: none;
  background-color: rgb(43, 44, 43);
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 20px;
  
}
.links li {
  padding-right: 30px;
  text-align: center;
}
.links a {
  color: white;
  padding-top: 20px;
  text-decoration: none;
  font-size: 15px;
}
.links a:hover {
  color: rgb(100, 199, 206);
}
